{% extends "accounts/base.html" %}
{% block content %}
    <div class="container">
    <h1 class="border-bottom pt-3 mb-5">Interview Scheduler</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <input type="text" name="your-branch" class="form-control" placeholder="Your Branch" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group mb-3">
                    <select name="your-schedule-date" class="form-control">
                        <option value="Choose Your Date">Choose Your Date</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <select name="your-schedule-time" class="form-control">
                        <option value="Choose Your Time">Choose Your Time</option>
                        <option value="10-11AM">10AM to 11AM</option>
                        <option value="11-12AM">11AM to 12AM</option>
                        <option value="3-4PM">3PM to 4PM</option>
                        <option value="4-5PM">4PM to 5PM</option>
                        <option value="5-6PM">5PM to 6PM</option>
                        <option value="10-11PM">10PM to 11PM</option>
                        <option value="11-12PM">11PM to 12PM</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-outline-primary mb-5" type="submit">Schedule</button>
        </div>
    </form>
{% endblock content %}